<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="LoginTest001.java">
        <classes>
            <class name="POMTest.LoginTest">
                <methods>
                    <include name="login"/>
                    <include name="Loginpage"/>
                    <include name="Hp"/>
                    <include name="PP"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>